{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</li>
        {% endfor %}
    {% endif %}
    </ul>
    <form action="{% url 'encyclopedia:create_entry' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>
{% endblock %}